<template>
    <div id="main">
        <Dashboard/>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Dashboard from "./Dashboard";
    export default {
        name: 'example',
        components: {Dashboard},
    }
</script>
