<template>
    <div class="row" style="background: #eff2f7">
        <div class='col-lg-3'></div>
        <div class='col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0' style='background-image: url("/Vuesax/img/pages/login.png")'>
            <h4 style="height: 300px">404</h4>
        </div>
        <div class='col-lg-3'></div>
    </div>
</template>

<script>
    export default {
        name: "FourZeroFour"
    }
</script>

<style scoped>

</style>
