<template>
    <div class="row">
        <div class='col-lg-3'></div>
        <div class='col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0'>
            <img src='/Vuesax/img/pages/login.png' alt='branding logo'>
        </div>
        <div class='col-lg-3'></div>
    </div>
</template>

<script>
    export default {
        name: 'profile'
    }
</script>
